<html>
<head>
<title>Page Title</title>
<link href="/style.css" type="text/css" rel="stylesheet">
</head>

<body>

	<h3>Agregar usuario</h3>
	<form method="POST" action="/user">
		username <input type="text" id="userName" name="userName" /><br />
		password <input type="password" id="password" name="password" /><br />
	<input type="submit" value="Enviar">
</form>


</body>

</html>