<html>
<head>
<title>Page Title</title>
<link href="/style.css" type="text/css" rel="stylesheet">
</head>

<body>

	<h3>Register</h3>
	<form method="POST" action="/register_user">
		username <input type="text" id="userName" name="userName" /><br><br>
		password <input type="password" id="password" name="password" /><br><br>
	<input type="submit" value="Save">
</form>


</body>

</html>