<html>
<head>
<title>Page Title</title>
<link href="./style.css" type="text/css" rel="stylesheet">
</head>

<body>
	<h3>Search by username</h3>
	<form method="POST" action="/search_users">
		username <input type="text" id="userName" name="userName" /><br><br>
	<input type="submit" value="search">
</form>

</body>

</html>