<html>
<head>
<title>Page Title</title>
<link href="/assets/style.css" type="text/css" rel="stylesheet">
</head>

<body>
	<h3>Buscar usuario</h3>
	<form method="POST" action="/users">
		username <input type="text" id="userName" name="userName" /><br />
	<!-- 	Lastname <input type="text" id="lastname" name="lastname" /><br /> -->
	<input type="submit" value="Enviar">
</form>

</body>

</html>